body {
  margin: 0;
  font-family: Arial, sans-serif;
}
nav{
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      font-family: Arial, sans-serif;
}
nav ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}